### <u>for문</u>
- format
```python
    for i in range():
        ~~~
```

In [ ]:
a=[1,2,3,4,5]
for i in a:
    print(i, i**2)

In [ ]:
a='hello world'
for char in a:
    print(char, end="*")

In [ ]:
for waiting_no in list(range(1,10,1)):
    print("waiting No : {}".format(waiting_no))

In [ ]:
starbucks = ['ironman', 'chulsu', 'youngha']
for customer in starbucks:
    print('{}, coffee is ready'.format(customer))

In [ ]:
a={'korea' : 'seoul','japan': 'tyoko', 'china': 'beijing' } #dictionary
for k in a:
    print(k, a[k])
print('[End]')

print(a.items())

for i, j in a.items():
    print(i, j)
print('[End]')

In [ ]:
a=[1,2,3,4,5]  
for i, j in enumerate(a):   #index 필요 시
    if i > 2:
        print(i, j)
print('-----\nEnd')

In [ ]:
a=[1,2, 3,4,5,6,7,8,9]  #구구단 
for i in a:
    for j in a:
        print(i,'x',j,'=',i*j)
print('-----\nEnd')

### continue, break

In [ ]:
a=[1,20,33,46,57, 60,20]  
for i in a:
    if i > 40 :
        break
    print(i)
print('-----\nEnd')

In [ ]:
a=[1,20,33,46,57, 60,20]  
for i in a:
    if i > 40 :
        continue
    print(i)
print('-----\nEnd')

In [ ]:
absent = [2, 5]
no_book= [8]
for student in range(1,11):
    if student in absent:
        continue
    elif student in no_book :
        print('class is over, follow me, {0}'.format(student))
        break
    print('{0}, read the book'.format(student))

### 한줄 for 문

In [ ]:
num = [1,2,3,4,5]
print(num)
num = [i+100 for i in num]
print(num)